.navigatorBar {
  width: 100vw;

  &__placeholder {
    background-color: transparent;
    width: 100%;
  }

  &__main {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 200;
    background-color: transparent;
    //border-bottom: 1PX solid rgba(238,238,238,1);
  }
  &__titleBar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .capsule {
      width: 87PX;
      height: 32PX;
      display: flex;
      //border: 1PX solid rgba(238,238,238,1);
      box-sizing: border-box;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      left: 10PX;
      background: rgba(238,238,238, 0.5);
      border-radius: 15PX;
      padding-right: 3PX;
      &__item {
        width: 25PX;
        height: 25PX;
        display: flex;
        justify-content: center;
        align-items: center;
        &--img {
          width: 18PX;
          height: 17PX;
        }
      }
      .line {
        display: block;
        width: 1PX;
        height: 18PX;
        background: rgba(216,216,216,1);
        border-radius: 100PX 100PX 0 0;
      }
    }
    .title {
      width: 45%;
      font-size: 14PX;
      text-align: center;
      color: #5F6379;
    }
  }
}
